<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckForPrime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B090BEB91DD4227C0090C355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B090BECD1DD4227C0090C355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B090BED81DD4227C0090C355</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
